.workimg{
    width: 500px; 
}



.fullimg {
   width: 100%;
   height: 50%;
   padding: 10px;
}


/* Links */
.link{
    padding: 20px;
    font-size: 20px
}

.portfolio , .links{
    flex: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}